body {
    background-image: url("/video/icons/Windows_7.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

button {
    font-family: Segoe UI;
    font-size: 14px;
    padding: 5px 10px;

    background: linear-gradient(#FFFFFF, #e5e5e5);
    border: 1px #a7a7a7;
    border-radius: 4px;

    cursor: pointer;

    box-shadow: inset 0 1px 0 #ffffffcc;
    transition: 0.1s;
}

button:hover {
    background: linear-gradient(#eaf6ff, #cde8ff);
    border-color: #7eb4ea;
}

button:active {
    background: linear-gradient(#d7e9f6, #bcdcf1);
    border-color: #6ca6d9;
    box-shadow: inset 0 1px 2px #00000040;
}

.pos4:hover {
    background: linear-gradient(#ff7f7f, #e45555);
}

.pos4:active {
    background: linear-gradient(#d64545, #a93232);
}

.container1 {
    position: relative;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    background: linear-gradient(#FFFFFF, #e5e5e5);
    width: 1822px;
    height: 34px;
}


.container4 {
    position: relative;
    top: 500px;
}

.icon {
    position: relative;
    width: 20px;
    bottom: -7px;
    left: 10px;
}

.pos1 {
    position: relative;
    bottom: 31px;
    left: 40px;
}

.pos2 {
    position: relative;
    left: 1662px;
    bottom: 75px;
}

.pos3 {
    position: relative;
    left: 1666px;
    bottom: 75px;
}

.pos4 {
    position: relative;
    left: 1670px;
    bottom: 75px;
}

.container2 {
    position: relative;
    border: 1px solid#A7A7A7;
    border-radius: 3px;
    background: linear-gradient(#ECECEC, #DCDCDC);
    width: 1822px;
    height: 34px;
}

.nav1 {
    position: relative;

}

.nav2 {
    position: relative;

}

.nav3 {
    position: relative;

}

.nav4 {
    position: relative;

}

.nav5 {
    position: relative;

}

.nav6 {
    position: relative;

}

.nav7 {
    position: relative;

}