body {
    margin: 0;
    padding: 0;
    
    display: block;
    min-height: 100vh; 
    overflow: hidden;
}

.window-frame {
    width: 100%; 
    height: 100vh;
    background-color: #f0f0f0; 
    border-radius: 0;
    box-shadow: none;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    resize: both; 
    min-width: 300px;
    min-height: 200px;
}


.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 8px;
    background: linear-gradient(#ECFDFF); 
    border: 1px solid #5c9ccc; 
    border-bottom: 1px solid #3c7fb1;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    cursor: default; 
    user-select: none; 
}

.title-bar .icon {
    font-size: 30px;
    margin-right: 5px;
}

.title-bar .title-text {
    flex-grow: 1; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.title-bar .controls {
    display: flex;
}

.title-bar .controls button,
.title-bar .controls a {
    background: none;
    border: none;
    font-size: 16px;
    width: 30px;
    height: 22px;
    margin-left: 2px;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.title-bar .controls button:hover,
.title-bar .controls a:hover {
    background-color: #e0f0ff;
}
.title-bar .controls .close:hover {
    background-color: #ff5050; 
    color: white;
}


.menu-bar {
    display: flex;
    background-color: #edeceb;
    border-bottom: 1px solid #dcdcdc;
    padding: 0 5px;
    font-size: 13px;
    color: #333;
    user-select: none;
}

.menu-bar span {
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 3px;
}

.menu-bar span:hover {
    background-color: #e0f0ff;
    border: 1px solid #c1dbf3;
    margin: -1px;
}


.notepad-content {
    flex-grow: 1; 
    display: flex;
    padding: 2px; 
    background-color: white; 
    border: 1px solid #c1dbf3; 
    margin: -1px; 
}

#notepad-textarea {
    width: 100%;
    height: 100%;
    border: none;
    outline: none; 
    padding: 10px;
    font-family: 'Consolas', 'Lucida Console', monospace; 
    font-size: 14px;
    line-height: 1.5;
    resize: none; 
    background-color: transparent; 
}


.status-bar {
    display: flex;
    justify-content: space-between;
    padding: 3px 8px;
    background-color: #e0e0e0;
    border-top: 1px solid #d4d4d4;
    font-size: 12px;
    color: #555;
    user-select: none;
}

.status-bar span:first-child {
    flex-grow: 1; 
}
